body {
    background-image: url('images/bg.jpg'); /* Replace 'your-background-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background to prevent scrolling */
    background-color: #f2e8cf; /* Fallback color */
}
:root{
--lightgreen : #00c78a;
--orange: #ff9c27;
--bg:#162719;
--primarytext: #f2e8cf;
}

*{
box-sizing: border-box;
margin: 0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




.card{
    opacity: 80%;
}








.task-list{
padding: 1rem;
}

#tasks .task{
display: flex;
justify-content: space-between;
background-color: var(--bg);
border: 1px solid var(--orange);
padding: 1rem;
border-radius: 1rem;
margin-bottom: 1rem;
margin-top: 1rem;
}
#tasks .task .content{
flex: 1 1 0%;
}
#tasks .task .content .text{
color: var(--primarytext);
font-size: 1.13rem;
width: 100%;
display: block;
transition: 0.4s;
}
#tasks .task .content .text:not(:read-only){
color: var(--lightgreen);
}
#tasks .task .actions{
display: flex;
margin: 0 -0.5rem;
}

.task .actions button{
cursor: pointer;
font-size: 1rem;
font-weight: 800;
margin: 0 0.5rem;
text-transform: uppercase;
transition: 0.4s;
}
.task .actions button:hover{
opacity: 0.8;
}

.task .actions button:active{
opacity: 0.6;
}
.task .actions .Edit{
color: var(--lightgreen);
}
.task .actions .Delete{
color: crimson;
}
.task .actions .Completed{
color: var(--orange);
}

.strike {
text-decoration: line-through;
}

.content >input{
background-color: #162719;
color: white;
border: 0;
}

.Edit{
background-color: rgb(38, 53, 68);
color: rgb(4, 252, 45);
}
.Delete{
background-color: rgb(38, 53, 68);
color: rgb(252, 72, 72);
}
.Completed{
background-color: rgb(38, 53, 68);
color: white;
}







@media screen and (max-width: 768px) {
    .actions{
    display: flex;
    flex-direction: column;
    }

    .content{
    display: flex;
    justify-content: center;
    }

    .actions>button {
    font-size: 15px !important;
    }
    #register, #login {
        margin-top: 5px !important;
    }
}

.date{
    color: white !important;
}


/* modal work */
.modal-content {
    background-color: rgb(44, 62, 80);
    color: #ecf0f1;
}
.modal-title {
    color: #ecf0f1;
}

.modal-header{
    border-bottom: 0;
}
.modal-footer{
    border-top: 0;
}